*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
 
.frame {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    max-width: 595px;
    min-width: 297px;
    max-height: 842px;
    min-height: 420px;
    margin-top: 20px;
    box-shadow: 0px 0px 100px 1px gray;
}

.content {
    margin-top: 20px;
    line-height: 18px;
}

.profile .content {
    min-width: 200px;
    max-width: 350px;
}

.headings {
    margin-top: 30px;
}

.left-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2b313d;
    color: #ffffff;
} 

.left-section img {
    height: 120px;
    clip-path:ellipse(50% 40%);
    margin-top: 30px;
}

.left-content {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.content-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.circles-in-line {
    display: flex;
    justify-content: space-between;
    gap: 4px;

    margin: 0 30px;
}

.right-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
}

.name {
    height: 120px;
}

.right-content {
    margin:  30px 30px;
}

.experience {
    margin-top: 30px;
}

.experience .experience-in-company {
    margin-left: 30px;
}

#black-object {
    background-color: #000000;
}

#white-object {
    background-color: #ffffff;
}

#transparent-object {
    background-color: rgba(112, 112, 112, 0.4);
}

.links {
    color: #ffffff;
    text-decoration: none;
}

.line {
    border-radius: 2px;
    width: 50px;
    height: 4px;
    margin-top: 20px;
}

.circle{
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

.profession {
    font-size: 22px;
    font-family: 'DotGothic16', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post-in-company {
    
}