*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'DotGothic16', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
 
.frame {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    max-width: 595px;
    min-width: 297px;
    max-height: 842px;
    min-height: 420px;
    /* border: 2px solid black; */
    margin-top: 20px;
    box-shadow: 0px 0px 100px 1px gray;
}

.content {
    margin-top: 20px;
    line-height: 18px;
}

.left-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2b313d;
    color: #ffffff;
} 

.left-section img {
    /* width: 120px; */
    height: 120px;
    clip-path:ellipse(50% 40%);
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.left-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.education {
    margin-top: 30px;
}

.language {
    margin-top: 30px;
}

.content-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.circles-in-line {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    gap: 6px;
}

.right-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
}

.name {
    /* width: 50%; */
    height: 120px;
    margin-top: 30px;
}

.right-content {
    /* margin-top: 30px;
    margin-bottom: 30px; */
    margin:  30px 30%;
}

#black-object {
    background-color: #000000;
}

#white-object {
    background-color: #ffffff;
}

#transparent-object {
    background-color: rgba(112, 112, 112, 0.4);
}

.links {
    color: #ffffff;
    text-decoration: none;
}

.line {
    border-radius: 2px;
    width: 80px;
    height: 4px;
    margin-top: 20px;
    /* margin: 20px 0px; */
}

.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}