$color-light: #467aff;
$color-new: #0e2de2;

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  font-size: 10px;
  font-style: normal;
  color: #ffffff;
}

body {
  background-color: #000;

  .frame {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: 595px;
    min-width: 297px;
    max-height: 842px;
    min-height: 420px;
    margin-top: 20px;
    box-shadow: 0px 0px 100px 1px $color-new;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .name {
      font-family: "Press Start 2P", cursive;
      // color: $color-new;
      font-size: 20px;
      background-color: $color-light;
      padding: 10px;
      border-radius: 10px;

      .job-title {
        font-family: "DotGothic16", sans-serif;
        color: $color-new;
        font-size: 15px;
        text-align: center;
      }
    }

    .footer {
      position: absolute;
      height: 100px;
      width: 800px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: invert(18%) sepia(96%) saturate(6877%) hue-rotate(238deg)
        brightness(86%) contrast(108%);
      bottom: -10px;
      left: -10px;
      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
      }
    }
  }

  .upper-part {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-items: stretch;

    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 5px $color-new;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
      }
    }

    .contacts {
      box-shadow: 0px 0px 20px 5px $color-light;
      background-color: #111113;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-content: center;
      padding: 26px;
      border-radius: 10px;

      .details {
        display: flex;
        gap: 10px;
        img {
          width: 10px;
        }
      }
    }
  }
}

.about {
  text-align: left;
  font-size: 10px;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  .experience-content {
    span {
      color: #9c9e9f;
    }
  }
  .experience-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .line {
      margin-left: 80px;
    }
  }
}

.title {
  font-family: "Press Start 2P", cursive;
  // color: $color-light;
  color: $color-new;
  font-size: 10px;
}

.line {
  border: 2px solid $color-light;
  width: 100%;
  border-radius: 2px;
}

.title-stack {
  width: 100%;
  .title-stack-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5px 1fr;

    .content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
    }
    .line {
      height: 100%;
      width: 0;
      // border-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.content {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .firm {
    font-weight: 600;
    font-size: 12px;
  }
  .post {
    font-style: oblique;
  }
  .stack {
    margin-top: 5px;
  }
  .content-margin {
    padding-left: 20px;
    width: 100%;
    .skills {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .skills-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: start;
        .skills-shadow {
          width: 80%;
          box-shadow: inset 0px 0px 5px 1px $color-light;
          border-radius: 10px;
          display: flex;
          align-items: center;
          .Line {
            width: 80%;
            border: 3px solid $color-new;
            border-radius: 6px;
            margin-left: 3px;
            &#TypeScript{
              width: 80%;
            }
            &#C{
              width: 80%;
            }
            &#Python{
              width: 50%;
            }
          }
        }
      }
    }
  }
}

span {
  color: #9c9e9f;
}
