$color-background-primary: #ffffff;
$color-background-secondary: var(--unnamed, radial-gradient(176.92% 100.27% at 47.15% -0.00%, rgba(223, 245, 237, 0.59) 3.65%, rgba(199, 224, 237, 0.55) 100%));
$color-background-title: radial-gradient(92.07% 109.32% at 100.00% 71.83%, #40E1B1 0%, #26B973 45.83%, #0287CC 100%);

$color-shadow-primary: rgb(170, 217, 237);
$color-shadow-secondary: rgb(185, 238, 223);

$color-line: #40E1B1;
$color-line-shadow: #6298f4;

$color-filter-primary: brightness(0) saturate(100%) invert(67%) sepia(70%) saturate(377%) hue-rotate(110deg) brightness(99%) contrast(91%);
$color-filter-secondary: brightness(0) saturate(100%) invert(53%) sepia(61%) saturate(5570%) hue-rotate(210deg) brightness(101%) contrast(103%);

$color-font-dark: #000000;
$color-font-about: #2c313f;
$color-font-light: #9c9e9f;
$color-font-title-primary: #57e15e;
$color-font-title-secondary: #467aff;

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  text-decoration: none;
  font-family: "Gilroy", sans-serif;
  font-size: 10px;
  font-style: normal;
  color: $color-font-dark;
}

body {
  background-color: $color-background-primary;

  .frame {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 595px;
    min-width: 297px;
    height: 842px;
    min-height: 420px;
    margin-top: 20px;
    box-shadow: 0px 0px 100px 1px $color-shadow-secondary;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .name {
      font-family: "Press Start 2P", cursive;
      font-size: 20px;
      background: $color-background-title;
      padding: 10px;
      border-radius: 10px;
      color: $color-background-primary;
      
      .job-title {
        font-family: "DotGothic16", sans-serif;
        color: $color-background-primary;
        font-size: 20px;
        text-align: center;
      }
    }

    .footer {
      position: absolute;
      height: 100px;
      width: 800px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: $color-filter-primary;
      bottom: -10px;
      left: -10px;

      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
      }
    }
  }

  .upper-part {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    padding: 0px 40px;

    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 5px $color-shadow-primary;
      overflow: hidden;
      display: flex;
      justify-content: center;

      img {
        object-fit: cover;
        object-position: top;
        width: 100%;
      }
    }

    .contacts {
      box-shadow: 0px 0px 20px 5px $color-shadow-primary;
      background: $color-background-secondary;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      justify-content: center;
      padding: 28px;
      border-radius: 10px;

      .links {
        color: $color-font-title-secondary;
      }

      .details {
        display: flex;
        gap: 10px;
        img {
          width: 10px;
        }
      }
    }
  }
}

.about {
  text-align: left;
  font-size: 12px;
  color: $color-font-about;
}

.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  .experience-content {
    span {
      color: $color-font-light;
      font-size: 12px;
    }
  }
  .experience-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .line {
      margin-left: 80px;
    }
  }
}

.title {
  font-family: "Press Start 2P", cursive;
  color: $color-font-title-primary;
  font-size: 14px;
}

.line {
  border: 2px solid $color-line;
  width: 100%;
  border-radius: 2px;
}

.title-stack {
  width: 100%;
  .title-stack-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5px 1fr;

    .content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
    }
    .line {
      height: 100%;
      width: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.content {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .firm {
    font-weight: 600;
    font-size: 14px;
  }
  .post {
    font-style: oblique;
  }
  .stack {
    margin-top: 15px;
    span {
      color: $color-font-light;
      font-size: 14px;
    }
    
  }
  .content-margin {
    padding-left: 20px;
    width: 100%;
    .skills {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .skills-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-items: start;
        span {
          color: $color-font-light;
          font-size: 14px;
        }
        
        .skills-shadow {
          width: 80%;
          // box-shadow: inset 0px 0px 5px 1px $color-shadow-primary;
          box-shadow: inset 0px 0px 5px 1px $color-line;
          border-radius: 10px;
          display: flex;
          align-items: center;
          .Line {
            width: 80%;
            // border: 3px solid $color-line;
            border: 3px solid $color-line-shadow;
            border-radius: 6px;
            margin-left: 3px;
            &#TypeScript{
              width: 80%;
            }
            &#C{
              width: 80%;
            }
            &#Python{
              width: 50%;
            }
          }
        }
      }
    }
  }
}
